* {
    padding: 0;
    margin: 0;
}

body {
    background: #f0f0f0;
    font-family: "DINProRegular", "Helvatica Neue", sans-serif;
    font-size: 13px;
    color: black;
    line-height: 20px;
}

h1 {
    font-family: "adelle", Georgia, serif;
    font-weight: normal;
    color: white;
}

h2 {
    font: normal 20px "adelle", Georgia, serif;
    line-height: 30px;
    padding: 10px 0;
}

ul li {
    list-style: none;
}

a {
    color: #27aae1;
    text-decoration: none;
}

a:hover {
    color: #146a8e;
}

#header {
    background: white;
    padding: 5px 10px;
}

#header div {
    width: 960px;
    height: 60px;
    position: relative;
    margin: 0 auto;
}

#logo {
    width: 210px;
    height: 101px;
    margin: -5px 0px 0px 0px;
}

#nav {
    position: absolute;
    top: 10px;
    right: 0;
}

#nav li {
    list-style: none;
    float: left;
    padding-left: 35px;
}

#nav li a {
    display: block;
    font-size: 16px;
    line-height: 40px;
}

/*#stage {*/
    /*background: #27aae1 url(../image/quebec.jpg) 55% top no-repeat ;*/
    /*background-size: 882px 340px;*/
    /*box-shadow: inset 0 -10px 0 rgba(0, 0, 0, 0.1);*/
/*}*/

#stage  div {
    width: 960px;
    height: 340px;
    padding: 0 10px;
    margin: 0 auto;
}

#stage div h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 46px;
    line-height: 60px;
}

#stage div ul {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 460px;
    margin-top: 130px;
}

#stage li  {
    list-style: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
}

#stage li a {
    display: block;
    font-family: "DINProRegular", "Helvatica Neue", sans-serif;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-indent: 0.1em;
    padding: 0 30px;
}

#stage #first {
    boder-color: black;
    float: left;
}

#first a {
    color: black;
}

#stage #second {
    border-color: white;
    float: right;
}

#second a {
    color: white;
}

#content {
    background: white;
    overflow: auto;
}

#content > div {
    width: 960px;
    padding: 30px 10px;
    margin: 0 auto;
    overflow: auto;
}

#motto {
    max-width: 500px;
    font: 16px "adelle", Georgia, serif;
    line-height: 30px;
    text-align: center;
    margin: 20px auto 0 auto;
}

#teasers {
    text-align: center;
    padding: 40px 0;
    overflow: auto;
}

#teasers div {
    float: left;
    width: 200px;
    padding: 20px;
}

#teasers div img {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto 10px auto;
}

#footer {
    padding: 30px 10px 100px 10px;
}

#footer > div {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

#footer > div .double {
    width: 50%;
}

#footer > div .block {
    float: left;
    padding: 20px 0;
    margin-bottom: 20px;
}

#footer > div .block h3 {
    font: normal 16px "adelle", Georgia, serif;
    line-height: 40px;
}

#footer > div .block ul li {
    list-style: none;
    padding: 5px 0;
    float: left;
    width: 240px;
}

#footer > div .single {
    width: 25%;
}

#footer > div #bottom {
    width: 100%;
    clear: both;
}

#footer > div #bottom p:first-child{
    float: left;
}

#footer > div #bottom p:last-child{
    float: right;
}

